header {
    border-bottom: 1px solid rgb(222, 222, 222); /* Creates light grey */
    box-shadow: 0 0 8px rgb(222, 222, 222); /* adds shadow to header */
    padding: 8px 16px;   
    min-width: 960px; /*removes drop shadow on the */
    display: flex;
    justify-content: space-between;
    align-items: center; /* aligns the header content */
}

h1 {
    width: 100px;
}

.nav-links,
.header-buttons {
    display: flex;
    /* gap property works on container and adds spacing between each flex item */
    gap: 10px;
}
/* .nav-links li {
    margin: 0 5px; -- same as gap 
} */
ul.header-buttons {
    list-style-type: none; /*Removes bullets*/
}

.header-buttons a {
    color: grey;
    text-decoration: none;
    border: 1px solid rgb(212, 212, 212);
    padding: 3px 16px;
    border-radius: 4px;
}

.header-buttons a:hover {
    box-shadow: 0 0 5px rgb(65, 114, 238);
}
